

/* @media only screen and (-webkit-min-device-pixel-ratio: 2.75) { */
/* @media (min-resolution: 2dppx) { */
/* @media only screen and (max-width: 961px) { */
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi) { */
@media only screen and (max-width: 600px) {
    /* -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; */
    .modal-content {}

    .formElement {
        grid-template-columns: repeat(auto-fit, 100%);
        text-align: start;
    }
    .tab-content-settings-section {
        max-width: 100%;
    }
    
    .media-filter-input {
        width: 50vw;
        right: 25vw;
    }
    .media-tag-filter-input {}
    .tab-content-body-column-section {
        flex-basis: 100%;
    }
    .formElement--label-large {  
        grid-template-columns: 40% 60%;
    }
    .auth-container {
        width: 85%;
        margin: 0;
    }
    
    .auth-body {}

    .script-status-model {
        width: 60%;
    }
    
    .body-container {
    }
}

@media only screen and (max-width: 1026px) {
    .video-controls {
        left: 0;
        max-width: 100vw;
    }
} 
@media (orientation: landscape) {
    .video-container-fixed {
        width: 40vw;
    }
}
@media (orientation: portrait) {

}

/* @media (min-width:320px)  { smartphones, iPhone, portrait 480x320 phones }
@media (min-width:481px)  { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. }
@media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones }
@media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops }
@media (min-width:1025px) { big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { hi-res laptops and desktops } */


/* @media only screen and (-webkit-min-device-pixel-ratio: 2.75)
or (min-device-width: 375px) 
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)   {
    .body {
        font-size: xx-large;
    }
    .header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 164px;
    }
    .icon-button {
        height: 128px;
        width: 128px;
    }
    .icon-button > img {
        width: 64px;
        height: 64px;
        margin-top: 3px;
    }
    .formElement {
        margin-top: 16px;
        height: 96px;
    }
    .formElement select, 
    .formElement button, 
    .formElement input:not([type='checkbox']) {
        border-radius: 15px;
        height: 64px;
        font-size: xx-large;
    }
    
    input[type='checkbox'] {
        width: 60px;
        height: 60px;
        margin: 12px 0px;
        border-radius: 12px;
    }
    input[type='checkbox']:checked {
        font-size: 32px;
    }
    
    .formElement label  {
        height: 64px;
        padding-top: 16px;
        margin-right: 8px;
        font-size: xx-large;
    }
    
    .modal-content {
        padding: 20px;
        width: 75%;
    }
    
    .modal-body {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .modal-title {
        font-size: 64px;
    }
    .refresh-media-button {
        left: calc(100vw - 164px);
        top: calc(100vh - 304px);
    }
    .default-settings-button {
        height: 64px;
        font-size: xx-large;
    }
} */