.script-status-model {
    width: 50%;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    display: flex;
    background-color: #000000;
    flex-flow: column;padding: 16px;
    border: 1px solid aliceblue;
    max-height: min(500px,calc(100vh - 200px));  left: 50%;
    transform: translate(-50%, 0);
}
.script-status-container {  
    padding: 4px;
    overflow-y: auto;    
    flex-basis: 100%;
}
.script-status-div {
    display: flex;
    flex-flow: column;
}
.script-status-label {
    font-size: 0.7rem;
}
.script-status-progress {  
    height: 8px;
    position: inherit;
    margin: auto;
    --scrollbar-background: #ccc;
}
.script-status-progress::-moz-progress-bar {
    /* Fallback */
    background-color: #ccc;
    /* Dynamic value */
    background-color: var(--scrollbar-background);
}
.script-status-progress::-webkit-progress-value {
    /* Fallback */
    background-color: #ccc;
    /* Dynamic value */
    background-color: var(--scrollbar-background);
}