body {
    background-color: black;
    color: white;
    font-family: 'sans-serif', "serif", "Lucida Sans Regular", 'Times New Roman', "Times", "DejaVu Serif", "Verdana";
    margin: 0;
    overflow: hidden;
}

.body-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 100px);
}

.hidden {
  display: none !important;
}

.hidden-visibility {
    visibility: hidden;
}

.disabled {
    background-color: lightgray;
    pointer-events: none;
    cursor: not-allowed;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}

.headerSection {
    flex-basis: 25%;
}

.headerLogoSection {
    display: flex;
    justify-content: center;
    flex-basis: 55%;
    flex-flow: column;
    align-items: center;
}

.headerActionSection {
    flex-basis: 15%;
}

.headerLogo {
    height: 50px;
    max-width: fit-content;
}

.header-logout-button {
    align-self: flex-end;
}

.auth-container {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 20%;
}
.auth-body {
    display: flex;
    overflow: auto;
    height: 100vh;
    align-items: center;
}
.auth-body-content {
    flex-basis: 100%;
}
.auth-footer {
    justify-content: center !important;
    margin-top: 16px;
}
.auth-footer button {
    height: 40px!important;
    width: 75px;
    font-size: larger;
}
.toolBar {
    display: flex;
    flex-flow: column;
    margin: 16px 8px 16px 8px;
}

.toolBarGroup {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.toolBarGroupStart {
    justify-content: flex-start;
}

.toolBarGroupEnd {
    justify-content: flex-end;
}

.pregress-status {
    height: 10px;
    position: inherit;
    margin: auto;
}

.save-status {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 500ms, visibility 500ms linear;
    transition: opacity 500ms, visibility 500ms linear;
    margin-right: 4px;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
    border: 0;
    box-shadow: none;
    color: #888;
    background-color: #ccc;
    pointer-events: none;
}

.formElement {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 8px;
    width: 100%;
    text-align: end;
}

.formElement--column {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 8px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.formElement select,
.formElement button:not(.video-control),
.formElement input:not([type='checkbox']):not([type='range']):not([type='radio']):not(.video-control) {
    flex-grow: 1;
    border-radius: 5px;
    height: 24px;
}
.formElement label {
    height: 24px;
    flex-basis: 20%;
    padding-top: 4px;
    margin-right: 8px;
}
.formElement--column label {
    height: 24px;
    flex-basis: 100%;
    padding-top: 4px;
    margin-right: 0px;
}

.formElement .radio-group {
    text-align: start;
}

.styled-radio {
    width: 20px;
    height: 20px;
    margin: 4px 0px;
}
/* width: max-content Hack to get to align left. Somthings not right but im not looking for it now.  */
.formElement input[type='checkbox'] {
    width: max-content;
    /* margin-right: 8px; */
}
.formElement--column input[type='checkbox'] {
    width: max-content;
    margin: auto;
}
.form-buttons {  
    display: flex;
    flex-wrap: wrap;
}
.form-buttons button {
    font-size: max(0.5em, 0.1em + 1cqi);
}
.form-buttons button:not(:last-child) {
    margin-right: 8px;
}
/* Doesnt look right in Deo */
.styled-checkbox {
    width: 20px;
    height: 20px;
    margin: 4px 0px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.styled-checkbox:checked:after {
    content: "\1F5F8";
}

.styled-checkbox:checked {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.styled-text {

}
button:not(.icon-button):not(.tab-section-tab):not(.video-control):not(.media-context) {
    border-radius: 5px;
    height: 24px;
}

select {
    min-width: 132px;
}

select:hover,
button:hover:not(.video-control):not(.media-context),
input:hover:not(.range-input) {
    background-color: lightblue;
}

.icon-button {
    /* height: 32px; */
    /* margin: 0; */
    /* width: 32px; */
    /* border-radius: 50%; */
    padding: 8px;
    border-width: 1px;
    border-radius: 9999px;
    display: inline-flex;
    /* justify-content: center; */
    /* align-content: center; */
    border-style: solid;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.25s 0s cubic-bezier(0, 1, 1, 1);
    cursor: pointer;
}
.icon-button-down {
    background-color: rgba(128, 140, 255, 0.596) !important;
    color: white;
}
.icon-button>img {
    width: 16px;
    height: 16px;
}

.icon-small {
    width: 16px;
    height: 16px;
}

.header-button {
    margin-left: 4px;
}

.header-button-right {
    margin-right: 4px;
}

.thumbs-container {
    display: flex;
    flex-flow: column;
    font-family: arial;
    font-size: 16px;
    /* max-height: calc(100vh - 165px);
    overflow-y: auto; */
}

.thumbs-body {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.media-item {
    position:relative;
    overflow: visible;
    border-radius: 25px;
    margin: 5px;
    content-visibility: auto;
    contain-intrinsic-size: 1px 500px;

}

.media-filter-input {
    width: 25vw;
    border-radius: 5px;
    height: 24px;
    right: 100px;
    position: absolute;
    z-index: 10;
    margin-top: 16px;
}

.media-tag-filter-input {  
    width: 150px;
    border-radius: 25px;
    right: 100px;
    position: absolute;
    z-index: 10;
    margin-top: 60px;
    display: flex;
    background-color: #000000;
    flex-flow: column;padding: 16px;
    border: 1px solid aliceblue;
    max-height: min(500px,calc(100vh - 200px));
}

.media-tag-filter-container {  
    padding: 4px;
    overflow-y: auto;
}

.media-tag-metadata-container {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.media-item:hover {
    cursor: pointer;
}

.media-item.media-item-playing:hover {
    cursor: not-allowed;
}

.media-thumb-nail {
    object-fit: contain;
}

.media-context {
    position: absolute;
    background: transparent;
    border: none;
    border-radius: 20px;
}
.media-context-heresphere {
    position: relative;
}
.media-context:hover {
    background-color: rgb(107 111 143 / 36%);
    border: none;
}

.media-context-menu {
    display: flex;
    flex-flow: column;
    text-align: center;
    position: absolute;
    width: 140px;
    background-color: white;
    color: black;
    font-size: medium;
    z-index: 10;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0px cornflowerblue, 1px -1px 5px 0px lightblue, 1px 1px 5px 0px lightblue, -1px -1px 5px 0px cornflowerblue;
    left:5%;
    top:5%;
    height: 50%;
    width:90%;
}
.media-context-menu-heresphere {
    position: relative;
}

.media-context-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    flex-grow: 1;
}
.media-context-menu-item:not(:last-child) {
    border-bottom: lightgray solid;
}
.media-context-menu-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.media-context-menu-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.media-context-menu-item:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}
.media-context-menu-item.disabled:hover {
    background-color: gray;
    cursor: not-allowed;
}

.media-cc {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    /* position: absolute;
    left: calc(100% - 23px);
    top: calc(100% - 23px); */
}

.media-link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}

.media-item .name {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 40%;
    text-align: center;
}

.media-item:not(.media-item-playing):hover {
    color: plum;
    box-shadow: -1px 1px 5px 0px hotpink, 1px -1px 5px 0px lightblue, 1px 1px 5px 0px lightblue, -1px -1px 5px 0px hotpink;
}

.media-item:not(.media-item-playing):hover a {
    color: plum;
}

.media-item-noscript:not(.media-item-playing):hover {
    color: lightgrey;
    box-shadow: -1px 1px 5px 0px lightgrey, 1px -1px 5px 0px lightgrey, 1px 1px 5px 0px lightgrey, -1px -1px 5px 0px lightgrey;
}

.media-item-noscript:not(.media-item-playing) a {
    color: grey;
}

.media-item-noscript:not(.media-item-playing):hover a {
    color: lightgrey;
}

.media-item-mfs:not(.media-item-playing):hover {
    color: gold;
    box-shadow: -1px 1px 5px 0px gold, 1px -1px 5px 0px orange, 1px 1px 5px 0px red, -1px -1px 5px 0px gold;
}

.media-item-mfs:not(.media-item-playing) a {
    color: chartreuse;
}

.media-item-mfs:not(.media-context):not(.media-item-playing):hover a {
    color: gold;
}

.media-item-playing {
    color: cornflowerblue;
    box-shadow: -1px 1px 5px 0px cornflowerblue, 1px -1px 5px 0px lightblue, 1px 1px 5px 0px lightblue, -1px -1px 5px 0px cornflowerblue;
}

.media-item-mfs.media-item-playing {
    color: cornflowerblue;
    box-shadow: -1px 1px 5px 0px cornflowerblue, 1px -1px 5px 0px chartreuse, 1px 1px 5px 0px cornflowerblue, -1px -1px 5px 0px cornflowerblue;
}

.media-item-playing .media-link {
    color: cornflowerblue;
}

/* .deoVideo {
    max-height: calc(100vh - 500px);
} */

/* 
.refresh-media-button {
    position: fixed;
    left: calc(100vw - 85px);
    margin-top: 16px;
} 
*/
.search-media-button {
    position: fixed;
    left: calc(100vw - 85px);
    margin-top: 16px;
    z-index: 10;
} 
.tag-media-button {
    position: fixed;
    left: calc(100vw - 85px);
    margin-top: 63px;
    z-index: 10;
} 
.shuffle-media-button {
    position: fixed;
    left: calc(100vw - 85px);
    margin-top: 110px;
    z-index: 10;
}
.random-media-button {
    position: fixed;
    left: calc(100vw - 85px);
    margin-top: 157px;
    z-index: 10;
} 
.range-slider {
    /* display: flex;
    flex-flow: column; */
    position: relative;
    /* width: 100%;
    text-align: center; */
}

.range-input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 46px;
    top: 3px;
    width: calc(100% - 92px);
    outline: none;
    margin: 0;
    padding: 0;
    background-color: rgba(220, 150, 150, 0.2);
}

.range-input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.range-input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.range-input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

.range-input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.range-input::-moz-focus-outer {
    border: 0;
}

section .min-max-buttons {
    display: flex;
    justify-content: space-between;
}

section .min-max-button {  
    /* max-width: 20px;
    max-height: 20px; */
}

section.range-label {}

section .range-values {
    align-self: center;
    font-size: 10px;
    z-index: 1;
    pointer-events: none;
}

.form-group-label {}

.form-group {}

.form-group-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    place-items: center;
}

.form-group-section>* {
    /*    min-width: max-content;
    max-width: 33%; */
}

/* grid-template-columns: 5% 10% 15% 27% 15% 27%; */
.form-group-section-connection {}

.form-group-control-header {}

.form-group-control-header>* {}

.form-group-control {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.form-group-control>* {
    /*    min-width: max-content;   */
}

.modal {
    display: flex;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 250ms, visibility 250ms linear;
    transition: opacity 250ms, visibility 250ms linear;
}
.modal--text {
    z-index: 16;
}
.modal--alert {
    z-index: 17;
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 85%;
    height: 90%;
    opacity: inherit;
    visibility: inherit;
    -webkit-transition: inherit;
    transition: inherit;
}
.modal-content--alert {
    width: fit-content;
    height: fit-content;
}
.modal-content--text {
    width: 30vw;
    height: fit-content;
}
.modal-content--other {
    height: fit-content;
}
.modal-header {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-basis: 15%;
}

.modal-body {
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.modal-body--alert {
    margin: 16px;
}

.modal-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}

.modal-footer-content {
    align-self: flex-end;
}

.modal-title {
    align-self: center;
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
}

/* The Close Button */
.close-modal {
    align-self: center;
}

.tab-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.tab-section {
    display: none;
}

.tab-section-tab {
    cursor: pointer;
    display: inline-block;
    background-color: #5E6B7F;
    color: white;
    text-align: center;
    transition: .25s ease;
    border: none;
    padding: 10px;
    border-radius: 12px 12px 0 0;
    min-width: fit-content;
}

.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 500ms, visibility 500ms linear;
    border-top: 2px solid #5E6B7F;
}

.tab-content-header {
    margin-top: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid white;
}

.tab-content-header-main {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tab-content-header-eyebrow {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.sync-device-status {
    border-radius: 10px;
    padding: 3px;
    margin-left: 12px;
    margin-right: 12px;
}

/* .sync-device-address {
    width: 15%;
}
.sync-device-port {
    width: 7%;
} */
.sync-device-input-label {
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
}

.no-media {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.loading-spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.loading-spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-spinner 1.2s linear infinite;
}
.session-info {
    margin-top: 30px;
}
.session-info-table, 
.session-info-table td, 
.session-info-table th  {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 4px 8px;
    text-align: center;
}

.session-info-table td button  {
    width: 100%;
    max-width: 50px;
}

.system-tags {
    display: flex;
}
.system-tags-section {
    margin-right: 8px;
}
.system-tags-section-button {
    width: 50%;
}
.system-tags-select {
    height: 257px;
}
/* .ms {
    width: 100%;
}
.ms::after {
    content: 'ms';
    position: relative;
    right: 16%;
    color: black;
} */


@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




@media only screen and (-webkit-min-device-pixel-ratio: 2.75) {
    .modal-content {}

    .formElement {
        grid-template-columns: 40% 60%;
    }
    
    .media-filter-input {
        width: 50vw;
        right: 25vw;
    }
    .media-tag-filter-input {
    }
    .auth-container {
        width: 85%;
        margin: 0;
    }
    
    .auth-body {

    }
}


/* @media only screen and (-webkit-min-device-pixel-ratio: 2.75)
or (min-device-width: 375px) 
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)   {
    .body {
        font-size: xx-large;
    }
    .header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 164px;
    }
    .icon-button {
        height: 128px;
        width: 128px;
    }
    .icon-button > img {
        width: 64px;
        height: 64px;
        margin-top: 3px;
    }
    .formElement {
        margin-top: 16px;
        height: 96px;
    }
    .formElement select, 
    .formElement button, 
    .formElement input:not([type='checkbox']) {
        border-radius: 15px;
        height: 64px;
        font-size: xx-large;
    }
    
    input[type='checkbox'] {
        width: 60px;
        height: 60px;
        margin: 12px 0px;
        border-radius: 12px;
    }
    input[type='checkbox']:checked {
        font-size: 32px;
    }
    
    .formElement label  {
        height: 64px;
        padding-top: 16px;
        margin-right: 8px;
        font-size: xx-large;
    }
    
    .modal-content {
        padding: 20px;
        width: 75%;
    }
    
    .modal-body {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .modal-title {
        font-size: 64px;
    }
    .refresh-media-button {
        left: calc(100vw - 164px);
        top: calc(100vh - 304px);
    }
    .default-settings-button {
        height: 64px;
        font-size: xx-large;
    }
} */